{% extends "blog/languageSwitch.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Welcome to my blog site" %}</h1>
{% blocktrans %}
<p>This blog site is amazing and new and I really don't know what else I could type here to showcase a long ongoing
    paragraph. May <b>god</b> help me prolong this paragraph so that it is at least 2 lines long.
    Is it that long already? No? </br>Well let's make it just a little bit longer then. There we go!</p>
{% endblocktrans %}
<p>{% trans  "Anybody can publish their blog here:" %}</p>
<a href="/blog/posts">{% trans "Blog posts"%}</a>
{% endblock content %}