{% extends "blog/languageSwitch.html" %}
{% load i18n %}
{% block content %}
<a href="/blog/posts">{% trans "Blog posts" %}</a>
<div>
  <div>
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div>
        <h1>{{ post.title }}</h1>
          <p><b>{{ post.author }}</b> | {{ post.created }}</p>
        <p>{{ post.text}}</p>
      </div>
    </div>

    <div class="col-md-8 card mb-4  mt-3 ">
      <div>
        <!-- comments -->
          {% blocktrans count count=comments.count%}
          <h2>{{ count }} comment</h2>
          {% plural %}
          <h2>{{ count }} comments</h2>
          {% endblocktrans %}

        {% for comment in comments %}
        <div style="padding: 10px;">
          <p>
              <b>{{ comment.author }}</b> {% trans "on" context "on [date]"%}
            <span>
              {{ comment.created}}
            </span>
          </p>
          {{ comment.text | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div>
        <h3>{% trans "Leave a comment" %}</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit">{% trans "Submit" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
