{% extends "blog/languageSwitch.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "10 latest blog posts" %}</h1>
{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
        <li><a href="/blog/posts/{{ post.id }}/">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No posts are available." %}</p>
{% endif %}
{% endblock content %}